<section class="page-section hero-banner-section" data-scroll>
    <!-- Main Content -->
    <div class="main-content">
        <!-- Background Layer -->
        <div class="bg-layer">
            <figure class="img-holder bg-img bg-mode">
                <video poster="{{site}}/static/img/hero-banner/main-bg.png" class="lazy" autoplay muted loop playsinline
                    data-src="{{site}}/static/img/hero-banner/main-kv-video-short.mp4">
                    <source data-src="{{site}}/static/img/hero-banner/main-kv-video-short.mp4" type="video/mp4" />
                    <source data-src="{{site}}/static/img/hero-banner/main-kv-video-short.webm" type="video/webm" />
                </video>
            </figure>
        </div>

        <!-- CTA Holder -->
        <div class="cta-holder">
            <div class="next-btn">
                <span class="context">SCROLL ĐỂ KHÁM PHÁ</span>
                <span class="arrow-ico img-holder forward-anim">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16"
                        fill="none">
                        <path
                            d="M1 7C0.447715 7 -7.24234e-08 7.44772 0 8C7.24234e-08 8.55228 0.447715 9 1 9L1 7ZM11.7071 8.70711C12.0976 8.31658 12.0976 7.68342 11.7071 7.29289L5.34314 0.928932C4.95262 0.538407 4.31946 0.538407 3.92893 0.928932C3.53841 1.31946 3.53841 1.95262 3.92893 2.34315L9.58579 8L3.92893 13.6569C3.53841 14.0474 3.53841 14.6805 3.92893 15.0711C4.31946 15.4616 4.95262 15.4616 5.34315 15.0711L11.7071 8.70711ZM1 9L11 9L11 7L1 7L1 9Z"
                            fill="white" />
                    </svg>
                </span>
            </div>
        </div>
    </div>

    <div class="transition-overlay"></div>
</section>

<!-- SECTION - Voyagers Section -->
<section class="page-section voyagers-section">
    <!-- Background Holder -->
    <div class="bg-holder"></div>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Voyagers Wrapper -->
        <div class="voyagers-wrapper">
            <div class="content-title">
                <figure class="img-holder">
                    <img class="lazy" data-src="{{site}}/static/img/voyagers/main-voyagers-title.png" alt="" width="940"
                        height="315" />
                </figure>
            </div>

            <div class="voyagers-list-bg">
                <!-- Voyager Item -->
                <div class="voyager-item voyager-1" id="voyager-1-bg" data-voyager="voyager-1">
                    <!-- Voyage Image -->
                    <div class="voyager-img img-holder">
                        <img class="lazy" data-src="{{site}}/static/img/voyagers/tran-giap-red-1.png" alt="" width="307" height="427" />
                    </div>
                </div>

                <div class="voyager-item voyager-2" id="voyager-2-bg" data-voyager="voyager-2">
                    <!-- Voyage Image -->
                    <div class="voyager-img img-holder">
                        <img class="lazy" data-src="{{site}}/static/img/voyagers/mlee-red-1.png" width="288" height="462" alt="" />
                    </div>
                </div>

                <div class="voyager-item voyager-3" id="voyager-3-bg" data-voyager="voyager-3">
                    <!-- Voyage Image -->
                    <div class="voyager-img img-holder">
                        <img class="lazy" data-src="{{site}}/static/img/voyagers/kenz-red-1.png" alt="" width="290" height="489" />
                    </div>
                </div>
            </div>

            <div class="voyagers-list-layout">
                <!-- Voyager Item -->
                <div class="voyager-item voyager-1" id="voyager-1" data-voyager="voyager-1">
                    <!-- Background Line -->
                    <div class="bg-line"></div>

                    <!-- Voyager detail -->
                    <div class="voyager-detail">
                        <p class="desc">
                            Trần Giáp yêu mến và gắn bó với văn hóa
                            và con người Hà Giang. Anh sẽ là
                            “tay lái đầu” của hành trình, là tiếng
                            nói chia sẻ và kết nối các thành viên
                            với cao nguyên đá hùng vĩ.
                        </p>
                        <h2 class="voyager-name">TRẦN GIÁP</h2>
                    </div>

                    <!-- Voyage Image -->
                    <div class="voyager-img img-holder">
                        <img class="lazy" data-src="{{site}}/static/img/voyagers/tran-giap-1.png" alt="" width="307"
                            height="427" />
                    </div>
                </div>

                <!-- Voyager Item -->
                <div class="voyager-item voyager-2" id="voyager-2" data-voyager="voyager-2">
                    <!-- Background Line -->
                    <div class="bg-line"></div>

                    <!-- Voyager Detail -->
                    <div class="voyager-detail">
                        <p class="desc">
                            Một nhân tố đa năng, đại diện cho sức
                            trẻ và sự năng động. Mlee là người
                            tạo ra hứng khởi, kết nối anh em
                            với đam mê khám phá và trải nghiệm.
                        </p>
                        <h2 class="voyager-name">MLEE</h2>
                    </div>

                    <!-- Voyager Image -->
                    <div class="voyager-img img-holder">
                        <img src="{{site}}/static/img/voyagers/mlee-1.png" alt="" width="288" height="462" />
                    </div>
                </div>

                <!-- Voyager Item -->
                <div class="voyager-item voyager-3" id="voyager-3" data-voyager="voyager-3">
                    <!-- Background Line -->
                    <div class="bg-line"></div>

                    <!-- Voyager Detail -->
                    <div class="voyager-detail">
                        <p class="desc">
                            Kenz Nguyễn là một người gắn đời mình với
                            những chuyến đi. Để mỗi chuyến đi diễn ra
                            suôn sẻ, anh thường chăm chút và chuẩn bị
                            thật kỹ lưỡng cho bản thân lẫn chiến mã
                            cùng anh tham gia hành trình.
                        </p>
                        <h2 class="voyager-name">KenZ Nguyễn</h2>
                    </div>

                    <!-- Voyager Image -->
                    <div class="voyager-img img-holder">
                        <img class="lazy" data-src="{{site}}/static/img/voyagers/kenz-1.png" alt="" width="290" height="489" />
                    </div>
                </div>
            </div>

            <!-- Blocking Hover Overlay -->
            <div class="blocking-overlay"></div>
        </div>

        <div class="intro-slogan txt-center">
            Biệt Đội Chất chúng tôi chinh phục đỉnh cực Bắc với tâm thế của những “chiến binh” mang theo sứ mệnh khởi tạo và lan tỏa giá trị thực cho cộng đồng.
        </div>
        <div class="transition-overlay first-screen"></div>
    </div>

    <!-- Transition Overlay -->

    <!-- Primary Screen -->
    <div class="voyager-slogan-screen">
        <div class="transition-overlay second-screen"></div>

        <!-- Left Column -->
        <div class="slogan-layout">
            <!-- Slogan Title -->
            <div class="section-slogan-title">
                <h2 class="section-title">
                    LIỆU CÓ NHỮNG<br/>
                    "CHÔNG GAI" NÀO<br />
                    ĐANG CHỜ HỌ<br />
                    PHÍA TRƯỚC?
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- SECTION - START NORTHERNMOST AND HA GIANG -->
<section class="page-section start-northernmost-ha-giang arc-2-round-4-section round-screen-group">
    <div class="main-content">
        <div class="introduction-column">
            <div class="detail-content" id="start-northernmost-ha-giang-short-overview">
                <div class="title-with-decor">
                    <div class="title-context">
                        <h1 class="slogan yellow-txt">CỰC BẮC</h1>
                        <h5 class="area bordered-txt">HÀ GIANG</h5>
                    </div>
                </div>
                <article class="challenge-context">
                    <div class="primary-detail">
                        <div class="bg-el"><div class="color-bg"></div><div class="border-decor"></div></div>
                        <div class="context-el">
                            <p class="desc">Từ những cung đèo thử thách, Hà Giang từ lâu đã nổi tiếng với điều kiện tự nhiên hiểm trở. Điều đó mang đến cho Biệt Đội Chất của Motul một trong những thách thức “khó nhằn” nhất trong hành trình CHẤT NƠI ĐỈNH CỰC năm 2024.</p>
                            <p class="desc">Tuy vậy, phong cảnh núi non hùng vĩ, khí hậu thiên nhiên trong lành, bản sắc văn hóa đặc trưng và con người nồng hậu chính là những món quà, những trải nghiệm lay động mà Hà Giang trao tặng cho hành trình năm nay.</p>
                            <p class="desc">Ngoài ra, đây được coi là một cột mốc “vàng son” trong cuộc “viễn chinh” của các chiến binh Biệt Đội Chất khi mang đến những giá trị quý báu cho cộng đồng tại Cực Bắc - Hà Giang.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="content-column">
            <div class="left-column">
                <figure class="img-holder bg-img bg-mode">
                    <video
                        poster="{{site}}/static/img/voyagers/vietnam-s-national-flag-at-lung-cu-flagpole-in-ha-2023-11-27-05-23-55-utc.png"
                        class="lazy"
                        autoplay
                        muted
                        loop
                        playsinline
                        data-src="{{site}}/static/img/voyagers/vietnam-s-national-flag-at-lung-cu-flagpole-in-ha-2023-11-27-05-23-55-utc.mp4">
                        <source
                            data-src="{{site}}/static/img/voyagers/vietnam-s-national-flag-at-lung-cu-flagpole-in-ha-2023-11-27-05-23-55-utc.mp4"
                            type="video/mp4" />
                        <source
                            data-src="{{site}}/static/img/voyagers/vietnam-s-national-flag-at-lung-cu-flagpole-in-ha-2023-11-27-05-23-55-utc.webm"
                            type="video/webm" />
                    </video>
                </figure>
            </div>
            <div class="right-column">
                <div class="top-clip">
                    <figure class="img-holder bg-img bg-mode">
                        <video
                                poster="{{site}}/static/img/voyagers/aerial-view-of-ha-giang-village-among-the-mountain-2023-11-27-05-36-35-utc.png"
                                class="lazy"
                                autoplay
                                muted
                                loop
                                playsinline
                                data-src="{{site}}/static/img/voyagers/aerial-view-of-ha-giang-village-among-the-mountain-2023-11-27-05-36-35-utc.mp4">
                            <source
                                data-src="{{site}}/static/img/voyagers/aerial-view-of-ha-giang-village-among-the-mountain-2023-11-27-05-36-35-utc.mp4"
                                type="video/mp4" />
                            <source
                                data-src="{{site}}/static/img/voyagers/aerial-view-of-ha-giang-village-among-the-mountain-2023-11-27-05-36-35-utc.webm"
                                type="video/webm" />
                        </video>
                    </figure>
                </div>
                <div class="bottom-clip">
                    <figure class="img-holder bg-img bg-mode">
                        <video
                                poster="{{site}}/static/img/voyagers/scenic-winding-mountain-road-on-the-ha-giang-loop-2024-05-02-17-42-45-utc.png"
                                class="lazy"
                                autoplay
                                muted
                                loop
                                playsinline
                                data-src="{{site}}/static/img/voyagers/scenic-winding-mountain-road-on-the-ha-giang-loop-2024-05-02-17-42-45-utc.mp4">
                            <source
                                data-src="{{site}}/static/img/voyagers/scenic-winding-mountain-road-on-the-ha-giang-loop-2024-05-02-17-42-45-utc.mp4"
                                type="video/mp4" />
                            <source
                                data-src="{{site}}/static/img/voyagers/scenic-winding-mountain-road-on-the-ha-giang-loop-2024-05-02-17-42-45-utc.webm"
                                type="video/webm" />
                        </video>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECTION - END NORTHERNMOST AND HA GIANG -->
<section class="page-section end-northernmost-ha-giang">
  <div class="main-content">
    <div>
      <h5 class="normal">Cùng chờ đón hành trình</h5>
      <h1>Chất nơi đỉnh cực</h1>
      <h5 class="area bordered-txt">Cực Bắc - Hà Giang</h5>
    </div>
  </div>

  <div class="ending-screen">
    <div class="end-screen-layout">
      <div class="ending-bg">
        <figure class="img-holder bg-mode bg-img">
          <video
            poster="{{site}}/static/img/golden-forest/forest-end-bg.jpg"
            class="lazy"
            autoplay
            muted
            loop
            playsinline
            data-src="{{site}}/static/img/round-4/end-video.mp4">
            <source
              data-src="{{site}}/static/img/round-4/end-video.mp4"
              type="video/mp4" />
          </video>

          <div class="gradient-bg"></div>
        </figure>
      </div>

      <div class="text-holder">
        <div class="line-1">
          <h5 class="normal context">Cùng chờ đón hành trình</h5>
          <h1 class="context">Chất nơi đỉnh cực</h1>
          <h5 class="area bordered-txt context">Cực Bắc - Hà Giang</h5>
        </div>
      </div>
    </div>
  </div>
</section>
